<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="scopePrototype" class="com.fxyh.bean.ScopePrototype" scope="prototype" />

    <bean id="scopeSingleton" class="com.fxyh.bean.ScopeSingleton"/>

</beans>