<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="methodNameResolver" class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
        <property name="paramName" value="method"/>
    </bean>

    <bean id="userController" name="/user.action" class="com.fxyh.springmvc.web.UserController">
        <property name="methodNameResolver" ref="methodNameResolver"></property>
    </bean>

    <bean id="servletForwardingController" name="/servlet.action" class="org.springframework.web.servlet.mvc.ServletForwardingController">
        <property name="servletName" value="demoServlet"/>
    </bean>
</beans>